# 应用名称
name: flutter_app
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8

  english_words: ^4.0.0

  # io
  path_provider: ^2.0.12

  #网络请求
  dio: ^5.0.0
  #socket
  web_socket_channel: ^2.4.0

  #json
  json_annotation: ^4.1.0

  #banner (flutter_swiper is discontinued and non-null-safe)
  # flutter_swiper: ^1.1.6
  # Use a null-safe alternative. You will need to update imports to `package:card_swiper/card_swiper.dart` when you next build.
  card_swiper: ^3.0.1

  event_bus: ^2.0.0

  shared_preferences: ^2.2.2

  fluttertoast: ^8.2.8

  # Keep an older null-safe version to minimize API changes compared to latest
  flutter_staggered_grid_view: ^0.6.2


  flukit_plus: ^3.1.0


dev_dependencies:

  build_runner: ^2.4.10
  json_serializable: ^6.7.1

  flutter_test:
    sdk: flutter




# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/
    - images/avatar.png
    - images/avatar.jpg
    - images/bg_dark.png
    - images/bg_light.jpg
    - images/image_default.png

  fonts:
    - family: myIcon
      fonts:
        - asset: fonts/iconfont.ttf

    - family: Big_Shoulders_Display
      fonts:
        - asset: assets/fonts/Big_Shoulders_Display/BigShouldersDisplay-Bold.ttf

    - family: wechateIcon
      fonts:
        - asset: iconfont/iconfont.ttf

    - family: bookIcon
      fonts:
        - asset: iconfont/iconfont_book.ttf


  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
